/**
 * Created by Samuel Gratzl on 15.12.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: #fafafa;

  -webkit-font-smoothing: subpixel-antialiased;
}

.selectioninfo {
  .no-selection-selected.no-selection-hovered {
    display: none;
  }
}

$select-color: orange;
$hover-color: #ffc46b;

svg {
  vector-effect : non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

svg .select-selected {
  //svg variant
  stroke: $select-color;
  stroke-width: 1px;
  fill: $select-color;
  vector-effect: non-scaling-stroke;
}
