/**
 * Created by Samuel Gratzl on 15.12.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: #fafafa;

  -webkit-font-smoothing: subpixel-antialiased;
}


/* mouse over mark and ref lines*/
.active {
  stroke: black;
  stroke-width: 5px;
  line{
    stroke: magenta;
    stroke-width: 3px;
  }
}


$select-color: orange;
$hover-color: #ffc46b;

svg {
  vector-effect : non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

svg.chart .xaxis, svg.chart .yaxis, svg.timeline {
  path, line {
    stroke-width: 1;
    stroke: black;
    fill: none;
  }

}

svg.chart {
  text.act_year {
    font-size: 150pt;
    opacity: 0.2;
    text-anchor: middle;
  }
  .mark {
    stroke: none;
    opacity: 0.5;

    &.select-selected {
      //svg variant
      stroke: $select-color;
      stroke-width: 1px;
    }
  }

  select .yaxis, .xaxis {
    background-color: #00b3ee;
  }

  rect.lassoarea {
    opacity: 0;
  }

  .lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
  }

  .lasso .drawn {
    fill-opacity:.05 ;
  }

  .lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
  }

  .lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
  }
}

svg.timeline {

  circle.slider {
    stroke-width: 2;
    stroke: black;
    cursor: ew-resize;
    fill: orange;
  }

  font-size: small;

}

main {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: stretch;
  -webkit-flex-flow: column;
  align-items: stretch;
  flex-flow: column;

  div.gapminder_i {
    -webkit-flex: 0 0 0px;
    flex: 0 0 0px;
    display: block;
  }

  div.chart {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .over {
    font-weight: bold;
  }
}
