/**
 * Created by Samuel Gratzl on 15.12.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: #fafafa;

  -webkit-font-smoothing: subpixel-antialiased;
}

.selectioninfo {
  .no-selection-selected.no-selection-hovered {
    display: none;
  }
}

$select-color: orange;
$hover-color: #ffc46b;

svg {
  vector-effect : non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

svg .select-selected {
  //svg variant
  stroke: $select-color;
  stroke-width: 1px;
  fill: $select-color;
  vector-effect: non-scaling-stroke;
}

svg.chart .xaxis, svg.chart .yaxis, svg.timeline {
  path, line {
    stroke-width: 1;
    stroke: black;
    fill: none;
  }
}

svg.chart {
  .mark {
    opacity: 0.5;
  }

  rect.lassoarea {
    opacity: 0;
  }

  .lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
  }

  .lasso .drawn {
    fill-opacity:.05 ;
  }

  .lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
  }

  .lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
  }
}

main {
  display: flex !important;
  align-items: stretch;
  flex-flow: column;

  div.gapminder_i {
    flex: 1 1 auto;
  }

  > div.row {
    height: 3em;
  }

  .over {
    font-weight: bold;
  }
}
