body {
  &[data-clue='E'] {
    span.attr-x-label, span.attr-x-scale-label,
    span.attr-y-label, span.attr-y-scale-label,
    span.attr-size-label, span.attr-size-scale-label,
    span.attr-color-label, span.attr-color-scale-label {
      display: none;
    }
  }

  &[data-clue='A'], &[data-clue='P'] {
    select.attr-x, select.attr-x-scale,
    select.attr-y, select.attr-y-scale,
    select.attr-size, select.attr-size-scale,
    select.attr-color, select.attr-x-scale {
      display: none;
    }

    svg.timeline .slider {
      pointer-events: none;
      fill: #a3a3a3;
      stroke: #a3a3a3;
    }

    svg.chart {

      polyline.hover_line {
        stroke: $hover-color !important;
      }
      .mark.phovea-select-hovered {
        stroke: $hover-color !important;
      }
    }
  }
}
